# Configuración de la Aplicación NestJS
PORT=3000
CONTAINER_NAME=commercialization

# Claves de acceso API Keys (separadas por coma)
API_KEYS=clave_secreta_comercial_1,clave_secreta_comercial_2,empresa_key_3

# Configuración de Base de Datos: 'sqlite' o 'postgres'
DB_TYPE=sqlite
SQLITE_DATABASE=commercialization.sqlite

# Configuración de PostgreSQL (en caso de usar DB_TYPE=postgres o Docker Compose)
POSTGRES_NAME=commercialization_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=riwi_commercialization
